html 
    head 
        title Form 
        link(rel="stylesheet", href="css/style.css")
    body 
        .section 
            .container  
                .form 
                    h2  A Good Form Title 
                    .good-form 
                        label User Name 
                        input(type="text",placeholder="Your Name",class="input")                  
                        label Password 
                        input(type="password",placeholder="Your Password",class="input") 
                        button.button  Save

                img.img1(src="imgs/1.png", alt="")
                img.img2(src="imgs/2.png")